:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --hover: rgba(255, 0, 0, 0.8);
  --active: rgba(255, 0, 0, 0.5);
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: var(--basic-black);
}

img {
  width: 100%;
  height: auto;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.main-header {
  background-color: var(--basic-black);
  color: var(--basic-white);
}

.nav__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 15px;
}

.nav__list-item:not(:last-child) {
  margin-right: 20px;
}

.nav__link {
  display: block;
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.nav__link:hover {
  color: var(--hover);
}

.nav__link:active {
  color: var(--active);
}

.profile {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

.profile__img-wrapper {
  position: relative;
  flex-shrink: 0;

  width: 200px;
  height: 200px;
  margin-right: 10%;

  border-radius: 50%;
  background-color: var(--basic-black);
  box-shadow: 0 3px 8px rgba(0, 0, 0, .6);;
  overflow: hidden;
}

.profile__img {
  position: absolute;
  left: -35px;
  display: block;
  width: 250px;
}

.profile__info {
  text-transform: uppercase;
  text-align: center;
}